.input {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 40px;
  height: 75px;
  background-color: gray;
  color: #fff;
  padding: 11px 0 11px 0;
  margin-left: 0;
}
