.App {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav {
  width: 15%;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin-right: 5%;
}

li {
  list-style: none;
}
