.App {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  width: 400px;
  height: 500px;
  background-color: rgb(242, 239, 239);
}

.line {
  margin: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
}